.dark #about{
    /* background-color: #1a1f2d; */
    background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.035) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.035) 1px, transparent 1px);
    background-size: 26px 26px;
}

 #about {
  background-image: 
    linear-gradient(to right, rgb(29, 78, 216, 0.1) 1px, transparent 1px), /* slate-500-ish */
    linear-gradient(to bottom, rgb(29, 78, 216, 0.1) 1px, transparent 1px);
    background-size: 26px 26px;
}